<div class="col-lg-4">
  <section>
    <h4>订阅</h4>
    <div class="hline"></div>
    <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
    <div class="spacing"></div>
  </section>

  <section>
    <h4>设备平台</h4>
    <div class="hline"></div>
    <p>
      {% for tag in site.tags %}
        <a class="btn btn-theme" href="{{ tag.url }}" role="button">{{ tag | first | capitalize }} ({{ tag | last | size }})</a>           
      {% endfor %}
    </p>
    <div class="spacing"></div>
  </section>
  
  <section>
    <h4>应用分类</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
      <p>
          <a href="{{ category.url }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
          <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
      </p>
    {% endfor %}
    <div class="spacing"></div>
  </section>

  <section>
    <h4>最近报告</h4>
    <div class="hline"></div>
      <ul class="popular-posts">
        {% for post in site.posts limit:4 %} 
          <li>
            <a href="{{ post.url }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            <em>Posted on {{ post.date | date_to_string }}</em>
        </li>
        {% endfor %} 
      </ul>
  </section>
</div>